.container {
  padding: var(--space-64);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-24);
  @media (max-width: 768px) {
    padding: var(--space-12);
  }
}

.scheduleButton {
  text-decoration: none;
  color: var(--dark-background);
  padding: var(--space-8);
  background-color: var(--danger-background);
}

.heading {
  color: var(--accent-yellow);
  text-align: center;
  margin: 0;
}
.subHeading {
  color: var(--accent-gold);
  text-align: center;
  font-size: var(--font-size-m);
  margin: 0;
}
