.errorContainer {
  padding: var(--space-24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-16);
  background-color: var(--dark-background);
  width: max-content;
  margin: 0 auto;
  border-radius: var(--border-radius-primary);
  border: 1px solid var(--accent-gold);
}

.errorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-16);
}

.errorTitle {
  margin: 0;
  font-size: var(--font-size-l);
  color: var(--warm-background);
}

.errorMessage {
  color: var(--light-background);
}
.errorActions {
  display: flex;
  gap: var(--space-16);
}

.actionButton {
  color: var(--dark-background);
  border: none;
  padding: var(--space-8) var(--space-12);
  cursor: pointer;
}

.retryButton {
  background-color: var(--warm-background);
}
