.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.content {
  background: var(--dark-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-24);
  padding: var(--space-64);
  width: 80%;
  max-width: 1050px;
}
.heading {
  color: var(--accent-gold);
  font-family: var(--font-secondary);
  font-weight: normal;
  margin: 0;
}

.link {
  color: var(--accent-gold);
  text-decoration: none;
  font-size: var(--font-size-l);
  color: var(--accent-yellow);
  padding: var(--space-12);
  border-radius: var(--border-radius-primary);
  border: 1px solid var(--accent-gold);
}
