.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-12);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
