:root {
  --space-4: 4px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-60: 60px;
  --space-64: 64px;
  --space-80: 80px;
  --space-100: 100px;
  --space-120: 120px;
  --space-180: 180px;
  --space-200: 200px;
  --space-320: 320px;
  --space-350: 350px;
  --space-500: 500px;
  --space-2: 2px;
  --space-6: 6px;
}
