.footer {
  background: var(--dark-background);
  color: var(--light-background);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--space-32);
  padding-right: 400px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--space-16);
  font-size: var(--font-size-xs);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: var(--space-12);
    height: fit-content;
    padding-right: var(--space-200);
  }
}

.icon {
  color: var(--accent-gold);
}

.linkText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.disclaimerLink {
  color: var(--warm-background);
}

.disclaimer {
  margin: 0;
  max-width: 250px;
}
